:root {
  --je-primary-color: #830004;
  /* theme-100 or theme-200 // theme-800 or theme-900 ? */
  --je-secondary-color: #DABE76;
  /* theme-core or theme-500 or theme-600 */
  --je-light-color: #dfe3e4;
  --je-dark-color: #1b1b1b;
}

/* Sticky Footer */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* End Sticky Footer */

footer,
nav.navbar {
  flex-shrink: 0;
  background-color: var(--je-primary-color);
  color: var(--je-light-color);
}

footer .bi {
  font-size: 2rem;
  padding-left: .5rem;
  color: var(--je-light-color);
  transition: color 0.15s ease-in;
}

footer .bi:hover {
  color: var(--je-secondary-color);
}

.nav-link.active:hover {
  color: var(--je-secondary-color);
}

.devicons {
  font-size: 3rem;
}

.bi-check-square-fill {
  color: var(--je-secondary-color);
}

.app-logo {
  max-width: 400px;
  border-radius: 15px;
  background-color: var(--je-primary-color);
}

.je-button {
  background-color: var(--je-primary-color);
  color: var(--je-light-color);
  /* border-color: var(--je-light-color); */
}

.je-button:hover,
.je-button:focus {
  background-color: var(--je-secondary-color);
  color: var(--je-dark-color);
  /* border-color: var(--je-dark-color); */
}

.code-header {
  font-size: 1.25rem;
  transition: all 0.25s;
}

.code-header:active,
.code-header:focus {
  box-shadow: none;
}

.code-header.collapsed {
  background-color: var(--je-primary-color);
  color: var(--je-light-color);
}

.code-header.collapsed:hover,
.code-header.collapsed:focus,
.code-header:not(.collapsed) {
  background-color: var(--je-secondary-color);
  color: var(--je-dark-color);
}

.code-header.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23dfe3e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.code-header.collapsed:hover::after,
.code-header.collapsed:focus::after,
.code-header:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231b1b1b'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.code-toolbar > pre {
    max-height: 50vh;
}

#movieCert {
  text-align: center;
  text-wrap: nowrap;
  box-sizing: border-box;
  padding: 1px 3px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.star {
  color: gold;
}

.rank {
  color: lightgreen;
}

.genre {
  text-align: center;
  text-wrap: nowrap;
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 10px 2px 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  margin-bottom: 3px;
  margin-inline-end: 3px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.modal-header {
  background-color: var(--je-primary-color);
  color: var(--je-light-color);
}

.modal-footer {
  background-color: var(--je-primary-color);
  color: var(--je-light-color);
}

#modalBody {
  color: var(--je-light-color);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.personal-link>img {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.personal-link:hover>img,
.personal-link:focus>img,
.personal-link:active>img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}